.error {
    color: red;
    text-align: left;
    font-size: 18px;
}


.title{
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}
.title h6{
    margin: 4px;
}
.btn{
    transition: all .5s;
}
input{
    transition: all .5s;
}

@media screen and (max-width: 500px) {
    .title h6{
        font-size: 70%;
    }
}

@media screen and (max-width: 360px) {
    .title h6{
        font-size: 75%;
    }

    .title img{
        width: 20px;
    }

    .main{
        padding: 20px  15px !important;
        padding-bottom: 5px !important;
    }

    .hint__txt{
        font-size: 75%;
    }

    .min__block{
        padding-bottom: 0 !important;
    }

}
